@page "/Airports"
@inherits LocationOverviewBase
@using DensityServer.Server.Pages

<h1 class="page-title">All Locations</h1>

@if (locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Airport Name</th>
                <th>Icao Code</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var location in locations)
            {
            <tr>
                <td>@location.city</td>
                <td>@location.state</td>
                <td>@location.name</td>
                <td>@location.icao</td>

                <td>

                    <form action="@($"Airport/{location.icao}")" method="get">
                        <button type="submit" name="details" value="details" class="btn btn-outline-dark table-btn">Go</button>
                    </form>

                    <form action="@($"Airport/Edit/{location.icao}")" method="post">
                        <button type="submit" name="edit" value="edit" class="btn btn-outline-dark table-btn">Go</button>
                    </form>

                </td>

            </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddLocation" class="btn btn-dark table-btn quick-add-btn">Add Location</button>

<AddLocationDialog @ref="AddLocationDialog" 
closeLocationEventCallback="@AllLocationsDialog_OnDialogClose"></AddLocationDialog>