@page "/Locations"
@inherits LocationOverviewBase
@using DensityServer.Server.Pages

<h1 class="page-title">All Locations</h1>

@if (locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Airport Name</th>
                <th>Icao Code</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var location in locations)
            {
            <tr>
                <td>@location.city</td>
                <td>@location.state</td>
                <td>@location.name</td>
                <td>@location.icao</td>

                <td>

                    <a href="@($"locationdetail/{location.icao}")" class="btn btn-outline-dark table-btn">
                        <i class="fas fa-info-circle">details</i>
                    </a>
                    <a href="@($"locationedit/{location.icao}")" class="btn btn-outline-dark table-btn">
                        <i class="fas fa-edit">edit</i>
                    </a>

                </td>

            </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddLocation" class="btn btn-dark table-btn quick-add-btn">Add Location</button>

<AddLocationDialog @ref="AddLocationDialog" 
closeLocationEventCallback="@AllLocationsDialog_OnDialogClose"></AddLocationDialog>