@page "/Employee/{EmployeeId}"
@inherits EmployeeDetailBase
@using DensityServer.Server.Pages

<section class="employee-detail">
    <h1 class="page-title">Details for @employee.FirstName @employee.LastName</h1>

    
    <div class="col-12 row">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">First name</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.FirstName</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Last name</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.LastName</label>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.Email</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Street</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.Street</label>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.City</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Zip</label>
            <div class="col-sm-8">
                <label type="text" readonly class="form-control-plaintext">@employee.Zip</label>
            </div>
        </div>
    </div>
       
</section>
